---
import BaseLayout from '../layouts/Base.astro';

import reactions from '../data/pastReactions.json';
import ratingsTotal from '../data/ratingsTotal.json';

// get films and sort the list by viewing date
const films = Object.values(import.meta.glob('./synopsis/*.mdx', { eager: true }));
const filmsData = films
                    .map((film: any) => film.frontmatter)
                    .sort((a, b) => {
                        const aDate = new Date(a.viewingDate).getTime();
                        const bDate = new Date(b.viewingDate).getTime();
                        return aDate - bDate;
                    });

const title = "Audience Reactions";
const description = "audience feedback for the films shown, both past and current seasons";
const keywords = "audience, feedback, reaction, stars, rating";
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-md-12">
                <h1>Audience Feedback For The Current Season</h1>
                <p>
                    The two columns after Film show the Attendance and the Returns of the reaction
                    slips.
                </p>
                <p>The percentage for each film is calculated by weighting the numbers for each category:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">5 stars = Excellent (100%)</li>
                    <li class="list-group-item">4 stars = Very Good (75%)</li>
                    <li class="list-group-item">3 stars = Good (50%)</li>
                    <li class="list-group-item">2 stars = Poor (25%)</li>
                    <li class="list-group-item">1 star = Awful (0%)</li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-bordered reactions-table">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Attendance</th>
                                <th>Reactions Returned</th>
                                <th>5 Star</th>
                                <th>4 Star</th>
                                <th>3 Star</th>
                                <th>2 Star</th>
                                <th>1 Star</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            {filmsData.map((film) => (
                            <tr>
                                <td>{film.title}</td>
                                <td>{film.attendance === null ? '' : film.attendance}</td>
                                <td>{film.returns === null ? '' : film.returns}</td>
                                <td>{film.excellent === null ? '' : film.excellent}</td>
                                <td>{film.good === null ? '' : film.good}</td>
                                <td>{film.average === null ? '' : film.average}</td>
                                <td>{film.disappointing === null ? '' : film.disappointing}</td>
                                <td>{film.awful === null ? '' : film.awful} </td>
                                <td>{film.ratingsAverage === null ? '' : film.ratingsAverage + '%'}</td>
                            </tr>
                            ))}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Average</strong></td>
                                <td>{ratingsTotal.ratingsTotal.attendance}</td>
                                <td>{ratingsTotal.ratingsTotal.returns}</td>
                                <td>{ratingsTotal.ratingsTotal.excellent}</td>
                                <td>{ratingsTotal.ratingsTotal.good}</td>
                                <td>{ratingsTotal.ratingsTotal.average}</td>
                                <td>{ratingsTotal.ratingsTotal.disappointing}</td>
                                <td>{ratingsTotal.ratingsTotal.awful}</td>
                                <td>{ratingsTotal.ratingsTotal.ratingsAverage}%</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <h2>Audience Feedback To Films In Previous Seasons</h2>
                <!-- {reactions.reactions.map((reaction) => ( 
                 <Reaction Films={reaction.films} SeasonTitle={reaction.title}></Reaction>
                 ))} -->
            </div>
        </div>
    </div>
</BaseLayout>