---
import BaseLayout from '../layouts/Base.astro';
import Reaction from '../components/Reaction.astro';

import reactions from '../data/pastReactions.json';
import ratingsTotal from '../data/ratingsTotal.json';

// get films and sort the list by viewing date
const filmsMD = await Astro.glob("./synopsis/*.mdx");
const sortedFilms = filmsMD.sort((a, b) => {
    const aDate = new Date(a.frontmatter.viewingDate).getTime();
    const bDate = new Date(b.frontmatter.viewingDate).getTime();
    return aDate - bDate;
});

const title = "Audience Reactions";
const description = "audience feedback for the films shown, both past and current seasons";
const keywords = "audience, feedback, reaction, stars, rating";
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Audience Feedback For The Current Season</h1>
                <p>
                    The two columns after Film show the Attendance and the Returns of the reaction
                    slips.
                </p>
                <p>The percentage for each film is calculated by weighting the numbers for each category:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">5 stars = Excellent (100%)</li>
                    <li class="list-group-item">4 stars = Very Good (75%)</li>
                    <li class="list-group-item">3 stars = Good (50%)</li>
                    <li class="list-group-item">2 stars = Poor (25%)</li>
                    <li class="list-group-item">1 star = Awful (0%)</li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-bordered reactions-table">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Attendance</th>
                                <th>Reactions Returned</th>
                                <th>5 Star</th>
                                <th>4 Star</th>
                                <th>3 Star</th>
                                <th>2 Star</th>
                                <th>1 Star</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            {sortedFilms.map((film) => (
                            <tr>
                                <td>{film.frontmatter.title}</td>
                                <td>{film.frontmatter.attendance === 0 ? '' : film.frontmatter.attendance}</td>
                                <td>{film.frontmatter.returns === 0 ? '' : film.frontmatter.returns}</td>
                                <td>{film.frontmatter.excellent === 0 ? '' : film.frontmatter.excellent}</td>
                                <td>{film.frontmatter.good === 0 ? '' : film.frontmatter.good}</td>
                                <td>{film.frontmatter.average === 0 ? '' : film.frontmatter.average}</td>
                                <td>{film.frontmatter.disappointing === 0 ? '' : film.frontmatter.disappointing}</td>
                                <td>{film.frontmatter.awful === 0 ? '' : film.frontmatter.awful} </td>
                                <td>{film.frontmatter.ratingsAverage === null ? '' : film.frontmatter.ratingsAverage + '%'}</td>
                            </tr>
                            ))}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Average</strong></td>
                                <td>{ratingsTotal.ratingsTotal.attendance}</td>
                                <td>{ratingsTotal.ratingsTotal.returns}</td>
                                <td>{ratingsTotal.ratingsTotal.excellent}</td>
                                <td>{ratingsTotal.ratingsTotal.good}</td>
                                <td>{ratingsTotal.ratingsTotal.average}</td>
                                <td>{ratingsTotal.ratingsTotal.disappointing}</td>
                                <td>{ratingsTotal.ratingsTotal.awful}</td>
                                <td>{ratingsTotal.ratingsTotal.ratingsAverage}%</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <h2>Audience Feedback To Films In Previous Seasons</h2>
                {reactions.reactions.map((reaction) => (
                <Reaction Films={reaction.films} SeasonTitle={reaction.title}></Reaction>
                ))}
            </div>
        </div>
    </div>
</BaseLayout>