---
// import layout
import BaseLayout from "../layouts/Base.astro";

// import data
import siteData from '../data/siteData.json';
import ratingsTotal from '../data/ratingsTotal.json';

// import components
import PosterPanels from "../components/PosterPanels.astro";
import HomepageFeedback from "../components/HomepageFeedback.astro";
import Films from "../components/Films.astro";

// get films and sort the list by viewing date
const filmsMD = await Astro.glob("./synopsis/*.md");

const title = 'Home'
const description = "For the best in world cinema and UK independent cinema";
const keywords = "films,movies,foreign,uk,independent";
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Welcome to the Swindon Film Society</h1>
                <p>
                    The <a href="/about-sfs/sfs-origins/)">Swindon Film Society</a> was established
                    in 1947. In all this time, we have been showing, at the Swindon Arts
                    Centre, the best films that international cinema has to offer. The
                    SFS <a href="/membership">is a membership club</a>, regulated by <a href="http://cinemaforall.org.uk/">
                    Cinema For All </a> (trading name for the British Federation of Film Societies).
                </p>
                <p>
                    As a society, it is required that our
                    films are shown to society members and their guests. Please help us
                    by joining today.
                </p>
                <p>
                    Our members' guests may purchase their <a href="/membership">individual
                    admission to films</a> at the Swindon Central Library, the
                    Wyvern Box Office or directly at the door of the Arts Centre on film
                    nights.
                </p>
            </div>
            <div class="col-lg-3">
                <div class="membership-box">
                    <h3 class="text-center">Become a member</h3>
                    <div class="membership-box-button">
                        <a href="/membership/" role="button" class="btn btn-membership">
                            Membership and Tickets
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <PosterPanels films={filmsMD} />

        <Films films={filmsMD} siteData={siteData} />

        <HomepageFeedback ratingsTotal={ratingsTotal.ratingsTotal} />
   
    </div>
</BaseLayout>
