---
import BaseLayout from "../layouts/Base.astro";

import siteData from '../data/siteData.json';
import filmData from "../data/films.json";
import PosterPanels from "../components/PosterPanels.astro";
import FilmsListing from "../components/FilmsListing.astro";
import HomepageFeedback from "../components/HomepageFeedback.astro";
import Films from "../components/Films.astro";

const filmsMD = await Astro.glob("./synopsis/*.md");

const films = filmData.films;
const bannerFilms = filmData.bannerFilms;
const bannerTitle = filmData.bannerFilmsTitle;
const ratingsTotal = filmData.ratingsTotal;

const title = 'Home'
const description = "For the best in world cinema and UK independent cinema";
const keywords = "films,movies,foreign,uk,independent";
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Welcome to the Swindon Film Society</h1>
                <p>
                    The <a href="/about-sfs/sfs-origins/)">Swindon Film Society</a> was established
                    in 1947. In all this time, we have been showing, at the Swindon Arts
                    Centre, the best films that international cinema has to offer. The
                    SFS is a [membership](/membership) club, regulated by <a href="http://cinemaforall.org.uk/">
                    Cinema For All </a> (trading name for the British Federation of Film Societies).
                </p>
                <p>
                    As a society, it is required that our
                    films are shown to society members and their guests. Please help us
                    by joining today.
                </p>
                <p>
                    Our members' guests may purchase their [individual
                    admission to films](/membership) at the Swindon Central Library, the
                    Wyvern Box Office or directly at the door of the Arts Centre on film
                    nights.
                </p>
                
                <h2>Our Current Film Season Has Concluded</h2>

                <h3>Our new season starts in September</h3>
            </div>
            <div class="col-lg-3">
                <div class="membership-box">
                    <h3 class="text-center">Become a member</h3>
                    <div class="membership-box-button">
                        <a href="/membership/" role="button" class="btn btn-membership">
                            Membership and Tickets
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <PosterPanels bannerTitle={bannerTitle} bannerFilms={bannerFilms} />

        <Films films={filmsMD} siteData={siteData} />

        <FilmsListing films={films} siteData={siteData} />

        <HomepageFeedback ratingsTotal={ratingsTotal} />
   
    </div>
</BaseLayout>
