---
// import layout
import BaseLayout from "../layouts/Base.astro";

// import data
import siteData from '../data/siteData.json';
import ratingsTotal from '../data/ratingsTotal.json';

// import components
import PosterPanels from "../components/PosterPanels.astro";
import HomepageFeedback from "../components/HomepageFeedback.astro";
import Films from "../components/Films.astro";

// get films and sort the list by viewing date
const filmsMD = await Astro.glob("./synopsis/*.md");

const title = 'Home'
const description = "For the best in world cinema and UK independent cinema";
const keywords = "films,movies,foreign,uk,independent";
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Welcome to Swindon Film</h1>
                <p>
                    Swindon Film has been at the heart of entertainment in Old Town for more than 75 years!  
                    Every year we show the best and widest variety of films that international cinema has to offer.
                </p>
                <p>
                    Swindon Film is a membership organisation. However, guests are welcome to come along, buy tickets on 
                    the door, and enjoy our films at highly competitive prices.  Membership provides even lower ticket 
                    prices plus other benefits. 
                </p>
                <p>
                We are members of the national charity <a href="https://cinemaforall.org.uk">‘Cinema for All’</a> that supports and develops community cinema across 
                the country. 
                </p>
                <p>
                Explore our website to find out about the films we are showing this year and  learn more about how to 
                <a href="/membership">become a member</a>. This is your chance to enjoy the world’s most outstanding films, many of which are never 
                shown at mainstream cinemas.
                </p>
            </div>
            <div class="col-lg-3">
                <div class="membership-box">
                    <h3 class="text-center">Become a member</h3>
                    <div class="membership-box-button">
                        <a href="/membership/" role="button" class="btn btn-membership">
                            Membership and Tickets
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h2>Announcement: Extra Seasons Film</h2>
                <p>
                    The Swindon Film Society is happy to announce an extra film this season. In collaboration with <a href="https://createstudios.org.uk">Create Studios</a> the film
                    "The Woman King" is being shown, the viewing will take place at the Christchurch Community Center (Old Town, SN1 3HG), doors open at 18:45 and
                    the film starts at 19:00, <a href="/#05">view the film details.</a>
                </p>
            </div>
        </div>
        
        <PosterPanels films={filmsMD} />

        <Films films={filmsMD} siteData={siteData} />

        <HomepageFeedback ratingsTotal={ratingsTotal.ratingsTotal} />
   
    </div>
</BaseLayout>
