---
// import layout
import BaseLayout from "../layouts/Base.astro";
import { Image } from 'astro:assets';
import Films from "../components/Films.astro";
import PosterPanels from "../components/PosterPanels.astro";

// import data
import siteData from '../data/siteData.json';
import sfsLogo from '/src/assets/images/site/SFS-Web-Logo-Large.jpg';

const title = 'Home'
const description = "For the best in world cinema and UK independent cinema";
const keywords = "films,movies,foreign,uk,independent";

const filmsSortedByDate = Object.values(import.meta.glob('../pages/synopsis/*.mdx', { eager: true }))
    .map((film: any) => film)
    .sort((a, b) => {
        const aDate = new Date(a.frontmatter.viewingDate).getTime();
        const bDate = new Date(b.frontmatter.viewingDate).getTime();
        return aDate - bDate;
    });
---

<BaseLayout title={title} description={description} keywords={keywords}>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="main-title">Welcome to<br> Swindon Film</h1>
            </div>
            <div class="col-lg-6">
                <Image src={sfsLogo} alt="Swindon Film Society Logo" class="img-responsive" width="565" height="151" format="webp" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <PosterPanels films={filmsSortedByDate} />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <p>
                    Swindon Film has been at the heart of entertainment in Old Town for more than 75 years!  
                    Every year we show the best and widest variety of films that international cinema has to offer.
                </p>
                <p>
                    Swindon Film is a membership organisation. However, guests are welcome to come along, buy tickets on 
                    the door, and enjoy our films at highly competitive prices.  Membership provides even lower ticket 
                    prices plus other benefits. 
                </p>
                <p>
                We are members of the national charity <a href="https://cinemaforall.org.uk">‘Cinema for All’</a> that supports and develops community cinema across 
                the country. 
                </p>
                <p>
                Explore our website to find out about the films we are showing this year and  learn more about how to 
                <a href="/membership">become a member</a>. This is your chance to enjoy the world’s most outstanding films, many of which are never 
                shown at mainstream cinemas.
                </p>
            </div>
            <div class="col-lg-3">
                <div class="membership-box">
                    <h3 class="text-center">Become a member</h3>
                    <div class="membership-box-button">
                        <a href="/membership/" role="button" class="btn btn-membership">
                            Membership and Tickets
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <Films siteData={siteData} films={filmsSortedByDate} />

    </div>
</BaseLayout>
