---
const {film, synopsisLink} = Astro.props;

let viewYear = '';
let viewDay = '';
let viewDayOfMonth = '';
let viewMonth = '';
let viewTime = '';

if (film.viewingDate) {
    const filmDate = new Date(film.viewingDate);
    viewYear = filmDate.getUTCFullYear().toString();
    viewDay = filmDate.getUTCDate().toString();
    switch(filmDate.getUTCDay()) {
        case 0: viewDayOfMonth = 'Sunday';
                break;
        case 1: viewDayOfMonth = 'Monday';
                break;
        case 2: viewDayOfMonth = 'Tuesday';
                break;
        case 3: viewDayOfMonth = 'Wednesday';
                break;
        case 4: viewDayOfMonth = 'Thursday';
                break;
        case 5: viewDayOfMonth = 'Friday';
                break;
        case 6: viewDayOfMonth = 'Saturday';
                break;
    }
    switch(filmDate.getUTCMonth()) {
        case 0: viewMonth = 'January';
                break;
        case 1: viewMonth = 'Febuary';
                break;
        case 2: viewMonth = 'March';
                break;
        case 3: viewMonth = 'April';
                break;
        case 4: viewMonth = 'May';
                break;
        case 5: viewMonth = 'June';
                break;
        case 6: viewMonth = 'July';
                break;
        case 7: viewMonth = 'August';
                break;
        case 8: viewMonth = 'September';
                break;
        case 9: viewMonth = 'October';
                break;
        case 10: viewMonth = 'November';
                break;
        case 11: viewMonth = 'December';
                break;
    }
    viewTime = filmDate.getUTCHours() + ':' + filmDate.getUTCMinutes();
}
---

        <article class="row mb-4 film-article">
            <a id={film.taglink} />
            <div class="col-lg-4">
                <img class="img-fluid" src={film.filmImage} title="{ film.title } film screenshot"
                    alt="{ film.title } film screenshot" />
            </div>
            <div class="col-lg-8">
                <h3>{film.title.toUpperCase()}</h3>
                <p>
                    <strong>
                        {viewDayOfMonth} {viewDay} {viewMonth} {viewYear}, {viewTime}, {film.locationShowing}
                    </strong>
                </p>
                <p class="film-article__info">
                    {film.releaseDate} | {film.country} |{" "}
                    {film.duration} | {film.certificate} |{" "}
                    {film.genreName}
                </p>
                <div class="film-article__snippet">
                    {" "}
                    {film.frontPageSnippet}
                </div>
                <div class="row button-bar">
                    <div class="col-lg-12 mt-2 front-page-buttons">
                        <a href={film.trailerLink} role="button" class="btn btn-normal" target="_blank">
                            Trailer
                        </a>
                        <a href={film.reviewsLink} role="button" class="btn btn-normal" target="_blank">
                            Reviews
                        </a>
                        <a href={synopsisLink} role="button" class="btn btn-normal">
                            Synopsis
                        </a>
                        <a href="/membership/" role="button" class:list={["btn", "btn-default", "btn-tickets", { "d-none": film.attendance !== 0 }]}>
                            Tickets
                        </a>
                        <button class:list={["btn", "btn-normal", { "d-none": film.attendance === 0 }]} type="button" data-bs-toggle="collapse" data-bs-target={"#collapse" + film.taglink} aria-expanded="false" aria-controls={"collapse" + film.taglink}>
                            Approval ({film.ratingsAverage}%)
                        </button>
                    </div>
                </div>
                <div class="collapse" id={"collapse" + film.taglink}>
                    <div class="table-responsive mt-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Attendance</th>
                                    <th>Returns</th>
                                    <th>5 <i class="fa fa-star" aria-hidden="true"></i></th>
                                    <th>4 <i class="fa fa-star" aria-hidden="true"></i></th>
                                    <th>3 <i class="fa fa-star" aria-hidden="true"></i></th>
                                    <th>2 <i class="fa fa-star" aria-hidden="true"></i></th>
                                    <th>1 <i class="fa fa-star" aria-hidden="true"></i></th>
                                    <th>Average</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{film.attendance}</td>
                                    <td>{film.returns}</td>
                                    <td>{film.excellent}</td>
                                    <td>{film.good}</td>
                                    <td>{film.average}</td>
                                    <td>{film.disappointing}</td>
                                    <td>{film.awful} </td>
                                    <td>{film.ratingsAverage}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>