---
import BaseLayout from './Base.astro';
import Reaction from '../components/Reaction.astro';
import reactions from '../data/pastReactions.json';
import filmData from '../data/films.json';

const films = filmData.films;
const ratingsTotal = filmData.ratingsTotal;

const { content } = Astro.props;
const title = "Feedback";
---

<BaseLayout title={title}>
    <div class="row">
        <div class="col-md-12">

            <slot />

            <table class="table table-bordered reactions-table">
                <thead>
                    <tr>
                        <th>Film</th>
                        <th>Attendance</th>
                        <th>Reactions Returned</th>
                        <th>5 Star</th>
                        <th>4 Star</th>
                        <th>3 Star</th>
                        <th>2 Star</th>
                        <th>1 Star</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    {films.map((film) => (
                    <tr>
                        <td>{film.title}</td>
                        <td>{film.attendance === 0 ? '' : film.attendance}</td>
                        <td>{film.returns === 0 ? '' : film.returns}</td>
                        <td>{film.excellent === 0 ? '' : film.excellent}</td>
                        <td>{film.good === 0 ? '' : film.good}</td>
                        <td>{film.average === 0 ? '' : film.average}</td>
                        <td>{film.disappointing === 0 ? '' : film.disappointing}</td>
                        <td>{film.awful === 0 ? '' : film.awful} </td>
                        <td>{film.ratingsAverage === 0 ? '' : film.ratingsAverage + '%'}</td>
                    </tr>
                    ))}
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Average</strong></td>
                        <td>{ratingsTotal.attendance}</td>
                        <td>{ratingsTotal.returns}</td>
                        <td>{ratingsTotal.excellent}</td>
                        <td>{ratingsTotal.good}</td>
                        <td>{ratingsTotal.average}</td>
                        <td>{ratingsTotal.disappointing}</td>
                        <td>{ratingsTotal.awful}</td>
                        <td>{ratingsTotal.ratingsAverage}%</td>
                    </tr>
                </tfoot>
            </table>

            <h2>Audience Feedback To Films In Previous Seasons</h2>

            {reactions.reactions.map((reaction) => (
            <Reaction Films={reaction.films} SeasonTitle={reaction.title}></Reaction>
            ))}

        </div>

    </div>

</BaseLayout>