---
import BaseLayout from "./Base.astro";
const { frontmatter } = Astro.props;

const {
    title,
    filmOriginalTitle,
    country,
    releaseDate,
    duration,
    genreName,
    cast,
    locationShowing,
    dateShowing,
    pdfLink,
    synopsis,
    directorsWriters,
    viewingDate
} = frontmatter;

let viewYear = '';
let viewDay = '';
let viewMonth = '';

if (viewingDate) {
    const filmDate = new Date(viewingDate);
    viewYear = filmDate.getUTCFullYear().toString();
    viewDay = filmDate.getUTCDate().toString();
    const monthOfFilm = filmDate.getUTCMonth();
    switch(monthOfFilm) {
        case 0: viewMonth = 'January';
                break;
        case 1: viewMonth = 'Febuary';
                break;
        case 2: viewMonth = 'March';
                break;
        case 3: viewMonth = 'April';
                break;
        case 4: viewMonth = 'May';
                break;
        case 5: viewMonth = 'June';
                break;
        case 6: viewMonth = 'July';
                break;
        case 7: viewMonth = 'August';
                break;
        case 8: viewMonth = 'September';
                break;
        case 9: viewMonth = 'October';
                break;
        case 10: viewMonth = 'November';
                break;
        case 11: viewMonth = 'December';
                break;
    }
} 
---

<BaseLayout title={title}>
    <div class="col-md-9">
        <section>
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <h1>{title.toUpperCase()}</h1>
                </div>
                <div class="col-xs-12 col-md-2 text-center">
                    <a href={pdfLink} target="_blank">
                        <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"
                        ></i><br />
                        <span class="text-center"> Download PDF</span>
                    </a>
                </div>
            </div>
            <p>
                <strong class:list={[{ "d-none": filmOriginalTitle === null }]}
                    >{"(Original Title: " + filmOriginalTitle + ")"}</strong
                ><br />
                <strong>{country} ({releaseDate})</strong>
                {duration}.<br>
                <strong>Genre:</strong> {genreName}<br>
                <strong>Directors/writers:</strong> {directorsWriters}<br>
                <strong>Cast:</strong> {cast}
            </p>
            <h4 class="text-center">
                Screening {viewDay} {viewMonth} {viewYear} at {locationShowing}
            </h4>
        </section>
        <section class="review">
            <h2>Synopsis</h2>
            <p>
                {synopsis}
            </p>
            <h2>Reviews</h2>
            <div class="review__content">
                <slot />
            </div>
        </section>
    </div>
</BaseLayout>
